<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_11 Presentación de recurso</h6>

<div class="text-center mb-5 mt-5">
    <img *ngIf="perfil != p.p2" src="{{ruta}}linea-enviar.png">
    <img *ngIf="perfil == p.p2" src="{{ruta}}linea-enviar2.png">
</div>

<div class="col-12 float-left mb-5">
    <h3 class="mb-5">Enviar</h3>

    <div class="col float-left border border mb-4 rounded bg-gris pt-3">

        <div class="col float-left separador">
            <div class="col-6 float-left" >
                    <div class="col float-left">
                            <p class="col-6 float-left text-right m-0">ID Recurso</p>
                            <p class="col-6 float-left font-weight-bold m-0 ">4323</p>
                    </div>
                    <div>
                            <p class="col-6 float-left text-right m-0">Rut Sostenedor</p>
                            <p class="col-6 float-left font-weight-bold m-0">77.543.657-k</p>
                    </div>
                    <div>
                            <p class="col-6 float-left text-right m-0">Rut Representante</p>
                            <p class="col-6 float-left font-weight-bold m-0">9.384.567-3</p>
                    </div>
            </div>
            
            <div class="col-6 float-left">
                <div class="col float-left">
                        <p class="col-6 float-left text-right m-0">Email de contacto</p>
                        <p class="col-6 float-left font-weight-bold m-0 ">email@sostenedor.cl</p>
                </div>
                <div>
                        <p class="col-6 float-left text-right m-0">Nombre Sostenedor</p>
                        <p class="col-6 float-left font-weight-bold m-0">San Patricio</p>
                </div>
                <div>
                        <p class="col-6 float-left text-right m-0">Nombre Representante</p>
                        <p class="col-6 float-left font-weight-bold m-0">Emmanuel Macron</p>
                </div>
            </div>
        </div>

        <div class="col float-left separador">
            <div class="col-6 float-left">
                    <div class="col float-left" *ngIf="perfil != p.p1">
                            <p class="col-6 float-left text-right m-0">Fecha Presentación Recurso</p>
                            <p class="col-6 float-left font-weight-bold m-0 ">12/09/2018</p>
                    </div>
                    <div>
                            <p class="col-6 float-left text-right m-0">Descargar Escrito</p>
                            <p class="col-6 float-left font-weight-bold m-0"><a title="Descargar archivo" href="{{ruta}}downloadFile.xlsx">Archivo</a></p>
                    </div>
            </div>

            <div class="col-6 float-left">
                <div class="col float-left">
                        <p class="col-6 float-left text-right m-0">Región</p>
                        <p class="col-6 float-left font-weight-bold m-0 ">Décima Región</p>
                </div>
                <div>
                        <p class="col-6 float-left text-right m-0">Estado Recurso</p>
                        <p class="col-6 float-left font-weight-bold m-0">Ingresado</p>
                </div>
            </div>
        </div>

        <div class="col float-left mb-4">
                <div class="col-6 float-left">
                        <div class="col float-left">
                                <p class="col-6 float-left text-right m-0">Tipo Recurso Principal</p>
                                <p class="col-6 float-left font-weight-bold m-0 ">Data</p>
                        </div>
                        <div>
                                <p class="col-6 float-left text-right m-0">Subsidio(1)</p>
                                <p class="col-6 float-left font-weight-bold m-0">Data</p>
                        </div>
                </div>
    
                <div class="col-6 float-left">
                    <div class="col float-left">
                            <p class="col-6 float-left text-right m-0">Causal</p>
                            <p class="col-6 float-left font-weight-bold m-0 ">Data</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="col float-left border border mb-4 rounded bg-gris">
        <div class="col float-left mb-4 mt-4">
            <label class="pr-2">Programa </label>
            <input>
        </div>

        <!-- TABLA 1 -->
        <!-- opciones de tabla 
        <div class="row">
                        
                        <div class="col-6 align-self-center num-registro">
                            Mostrar <select>
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                            </select> registros
                        </div>
                        
                        <div class="col-6">
                        <div class="row justify-content-end mr-1">
                            <div class="float-left mr-2"><a title="Descargar archivo" href="{{ruta}}downloadFile.xlsx"><i class="fa fa-download icoFile"></i></a></div>
                            <div class="form-group float-right">
                                <input type="text" class="form-control" placeholder="Search..." >
                            </div>
                        </div>
                        </div>
        </div>-->
        
        <!-- tabla Remuneraciones -->
        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead class="header-tablas">
                        <tr>
                            <th scope="col">Id Acta</th>
                            <th scope="col">Seguimiento</th>
                            <th scope="col">RBD</th>
                            <th scope="col">Monto Total No Aceptado</th>
                            <th scope="col">Monto Total</th>
                            <th scope="col">Fecha Acta</th>
                            <th scope="col" class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="body-tablas">
                        <tr *ngFor="let post of posts">
                            <td>{{post.id}}</td>
                            <td>{{post.seguimiento}}</td>
                            <td>{{post.RBD}}</td>
                            <td>{{post.noAceptado}}</td>
                            <td>{{post.monto}}</td>
                            <td>{{post.fecha}}</td>
                            <td class="text-right">
                                <a data-toggle="modal" data-target="#myModal" class="cursor-pointer"><i class="fa fa-eye ico-action-table" title="Ver Gastos"></i></a>
                            </td>
                        </tr>
                        </tbody>
        </table>
        <!-- total gastos impignados-->
        <div class="row">
                        <div class="col text-right mb-3">
                            <a data-toggle="modal" data-target="#myModal2" class="cursor-pointer totalTabla">Ver total gastos impugnados</a>
                        </div>
        </div>
        <!-- paginación 
        <div class="row pl-3 pr-3">
                        <p class="col-6 float-left align-self-center pl-0 txt-registros-tabla">Mostrando del 1 al 10 de 85 Registros</p>
                        <div class="float-left col-6 text-right ">
                            <div class="row justify-content-end">
                            <ul class="pagination pagination-sm ">             
                            <li class="page-item"><a class="page-link" href="#">< Anterior</a></li>  
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item active"><a class="page-link" href="#">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente ></a></li>
                            </ul>
                            </div>
                        </div>
        </div>-->
    </div>

    <div class="col float-left border border mb-4 p-3 rounded bg-gris alert alert-warning">
        <p>{{argumento}}</p>
    </div>

    <!-- NAVEJACION FLUJO -->
    <div class="col float-left text-right">
            <button [routerLink]="['/subir-escrito']" class="btn btn-primary float-left">Anterior</button>
        <button [routerLink]="['/listar-recursos']"  class="btn btn-primary float-right">Enviar</button>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Ver Gastos</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                        <!-- FORM -->

                        <div class="row border rounded bg-gris p-3 m-3">
                            <div class="col-4 float-left">
                                    <label class="float-left text-left mr-2">Acta</label> 
                                    <select name="select" class="text-left">
                                            <option value="value1" selected>Seleccionar</option> 
                                            <option value="value2" >Value 2</option>
                                            <option value="value3">Value 3</option>
                                    </select>
                               
                            </div>
                            <div class="col-8 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-7 float-left text-right m-0">Total Gastos No Aceptados:</p> 
                                    <p class="col-5 float-left text-left m-0">$ 3.234.334</p>
                                </div>
                                <div class="row">
                                    <p class="col-7 float-left text-right">Total Montos Impugnados:</p> <p class="col-5 float-left text-left">$ 5.578.432</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- PESTAÑAS -->
                        <div class="col-12 float-left mb-2">
                                <!-- Nav pestañas -->
                                <ul class="nav nav-tabs font-weight-bold pestanias">
                                    <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home">Remuneraciones</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">Boletas y Facturas</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu2">Servicios ATE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#menu4">Prorrateados</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#menu5">Remuneraciones Prorrateada</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#menu6">Saneamiento de Cotizaciones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#menu7">Saneamiento de Proveedores</a>
                                    </li>
                        
                                </ul> 
                                <!-- panel pestañas -->
                                <div class="tab-content border border-top-0  pt-2 bg-blanco">
                        
                                    <!-- MENU 1 REMUNERACIONES -->
                                    <div class="tab-pane container active content-tabla" id="home">
                        
                                        <!-- form-->
                                        <div class="row mb-3"> 
                                            <div class="col-2">
                                                <label class="col">RBD</label>
                                                <select class="col"><option>45345</option></select>
                                            </div>
                                            <div class="col-2">
                                                <label class="col">Trabajador</label>
                                                <select class="col"><option>Seleccionar</option></select>
                                            </div>
                                            <div class="col-2">
                                                <label class="col">Período</label>
                                                <select class="col">
                                                    <option>Seleccionar Mes</option>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                    <option>06</option>
                                                    <option>07</option>
                                                    <option>08</option>
                                                    <option>09</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <label class="col">Cuenta</label>
                                                <select class="col"><option>Seleccionar</option></select>
                                            </div>
                                            <div class="col-2">
                                                <label class="col"></label>
                                                <button class="btn btn-primary">Buscar</button>
                                            </div>
                                        </div>
                                        <!-- subtotales -->
                                        <div class="row mb-3">  
                                                <div class="col-9"></div>
                                                <div class="col-3 float-right txt-subtotal">
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                            <p class="col-4 m-0">$ 2.234.890</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                            <p class="col-4 m-0">$ 1.234.890</p>
                                                        </div>
                                                </div>
                                        </div>  

                                        <!-- tabla -->
                                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                            <thead class="header-tablas">
                                            <tr>
                                                <th scope="col">RBD</th>
                                                <th scope="col">Trabajador</th>
                                                <th scope="col">Período</th>
                                                <th scope="col">Cuenta</th>
                                                <th scope="col">N° Cuenta</th>
                                                <th scope="col">Fundamentación</th>
                                                <th scope="col">Motivo</th>
                                                <th scope="col">Monto no aceptado</th>
                                                <th scope="col">Monto Impugnado</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody class="body-tablas">
                                            <tr *ngFor="let post of postsRemuneracion">
                                                <td>{{post.RBD}}</td>
                                                <td>{{post.trabajador}}</td>
                                                <td>{{post.periodo}}</td>
                                                <td>{{post.cuenta}}</td>
                                                <td>{{post.n_cuenta}}</td>
                                                <td>{{post.fundamentacion}}</td>
                                                <td>{{post.motivo}}</td>
                                                <td>{{post.montono}}</td>
                                                <td>{{post.montoimpugnado}}</td>
                                                <td>
                                                        <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                        <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                        
                                    </div>
                        
                                    <!-- MENU 2 BOLETAS Y FACTURAS -->
                                    <div class="tab-pane container fade content-tabla" id="menu1">
                        
                                        <!-- form-->
                                        <div class="row mb-3"> 
                                                <div class="col-2">
                                                    <label class="col">RBD</label>
                                                    <select class="col"><option>45345</option></select>
                                                </div>
                                                <div class="col-2">
                                                    <label class="col">Proveedor</label>
                                                    <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                
                                                <div class="col-2">
                                                        <label class="col">N° Documento</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                <div class="col-2">
                                                        <label class="col">Fecha Documento</label>
                                                        <select class="col">
                                                                <option>Seleccionar Mes</option>
                                                                <option>01</option>
                                                                <option>02</option>
                                                                <option>03</option>
                                                                <option>04</option>
                                                                <option>05</option>
                                                                <option>06</option>
                                                                <option>07</option>
                                                                <option>08</option>
                                                                <option>09</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                        </select>
                                                    </div>
                                                <div class="col-2">
                                                    <label class="col">Cuenta</label>
                                                    <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                <div class="col-2">
                                                        <label class="col"></label>
                                                        <button class="btn btn-primary">Buscar</button>
                                                </div>
                                        </div>
                                        <!-- subtotales -->
                                        <div class="row mb-3">  
                                            <div class="col-9"></div>
                                            <div class="col-3 float-right txt-subtotal">
                                                    <div class="row">
                                                        <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                        <p class="col-4 m-0">$ 2.234.890</p>
                                                    </div>
                                                    <div class="row">
                                                        <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                        <p class="col-4 m-0">$ 1.234.890</p>
                                                    </div>
                                            </div>
                                        </div>  
                            
                                        <!-- tabla -->
                                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                <thead class="header-tablas">
                                                <tr>
                                                    <th scope="col">RBD</th>
                                                    <th scope="col">Proveedor</th>
                                                    <th scope="col">N° Documento</th>
                                                    <th scope="col">Fecha Documento</th>
                                                    <th scope="col">Detalle</th>
                                                    <th scope="col">Cuenta</th>
                                                    <th scope="col">N° Cuenta</th>
                                                    <th scope="col">Fundamentación</th>
                                                    <th scope="col">Motivo</th>
                                                    <th scope="col">Monto no aceptado</th>
                                                    <th scope="col">Monto Impugnado</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody class="body-tablas">
                                                        <tr *ngFor="let post of postsBoletas">
                                                        <td>{{post.RBD}}</td>
                                                        <td>{{post.trabajador}}</td>
                                                        <td>{{post.n_doc}}</td>
                                                        <td>{{post.fecha_doc}}</td>
                                                        <td>{{post.detalle}}</td>
                                                        <td>{{post.cuenta}}</td>
                                                        <td>{{post.n_cuenta}}</td>
                                                        <td>{{post.fundamentacion}}</td>
                                                        <td>{{post.motivo}}</td>
                                                        <td>{{post.montono}}</td>
                                                        <td>{{post.montoimpugnado}}</td>
                                                        <td>
                                                                <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                        </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                                        
                                    </div>
                        
                                    <!-- MENU 3 SERVICIOS ATE -->
                                    <div class="tab-pane container fade content-tabla" id="menu2">
                        
                                        <!-- form-->
                                        <div class="row mb-3"> 
                                                <div class="col-2">
                                                    <label class="col">RBD</label>
                                                    <select class="col"><option>45345</option></select>
                                                </div>
                                                <div class="col-2">
                                                    <label class="col">Proveedor</label>
                                                    <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                <div class="col-2">
                                                        <label class="col">N° Documento</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                <div class="col-2">
                                                    <label class="col">Fecha Documento</label>
                                                    <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                <div class="col-2">
                                                    <label class="col">Cuenta</label>
                                                    <select class="col"><option>Seleccionar</option></select>
                                                </div>
                                                
                                                    <div class="col-2">
                                                            <label class="col"></label>
                                                            <button class="btn btn-primary">Buscar</button>
                                                    </div>
                                        </div>
                                            <!-- subtotales -->
                                            <div class="row mb-3">  
                                                    <div class="col-9"></div>
                                                    <div class="col-3 float-right txt-subtotal">
                                                            <div class="row">
                                                                <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                                <p class="col-4 m-0">$ 2.234.890</p>
                                                            </div>
                                                            <div class="row">
                                                                <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                                <p class="col-4 m-0">$ 1.234.890</p>
                                                            </div>
                                                    </div>
                                            </div>  

                                            <!-- tabla -->
                                            <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                    <thead class="header-tablas">
                                                            <tr>
                                                            <th scope="col">RBD</th>
                                                            <th scope="col">Proveedor</th>
                                                            <th scope="col">N° Documento</th>
                                                            <th scope="col">Fecha Documento</th>
                                                            <th scope="col">Detalle</th>
                                                            <th scope="col">Cuenta</th>
                                                            <th scope="col">N° Cuenta</th>
                                                            <th scope="col">Fundamentación</th>
                                                            <th scope="col">Motivo</th>
                                                            <th scope="col">Monto no aceptado</th>
                                                            <th scope="col">Monto Impugnado</th>
                                                            <th scope="col">Acciones</th>
                                                            </tr>
                                                    </thead>
                                                <tbody class="body-tablas">
                                                        <tr *ngFor="let post of postsBoletas">
                                                        <td>{{post.RBD}}</td>
                                                        <td>{{post.trabajador}}</td>
                                                        <td>{{post.n_doc}}</td>
                                                        <td>{{post.fecha_doc}}</td>
                                                        <td>{{post.detalle}}</td>
                                                        <td>{{post.cuenta}}</td>
                                                        <td>{{post.n_cuenta}}</td>
                                                        <td>{{post.fundamentacion}}</td>
                                                        <td>{{post.motivo}}</td>
                                                        <td>{{post.montono}}</td>
                                                        <td>{{post.montoimpugnado}}</td>
                                                        <td>
                                                                <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                        </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                            
                                    </div>
                        
                                    <!-- MENU 4 - PRORRATEADOS -->
                                    <div class="tab-pane container fade content-tabla" id="menu4">
                        
                                            <!-- form-->
                                            <div class="row mb-3"> 
                                                    <div class="col-2">
                                                        <label class="col">RBD</label>
                                                        <select class="col"><option>45345</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Proveedor</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                            <label class="col">N° Documento</label>
                                                            <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Fecha Documento</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Cuenta</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    
                                                        <div class="col-2">
                                                                <label class="col"></label>
                                                                <button class="btn btn-primary">Buscar</button>
                                                        </div>
                                            </div>
                                            <!-- subtotales -->
                                            <div class="row mb-3">  
                                                <div class="col-9"></div>
                                                <div class="col-3 float-right txt-subtotal">
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                            <p class="col-4 m-0">$ 2.234.890</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                            <p class="col-4 m-0">$ 1.234.890</p>
                                                        </div>
                                                </div>
                                            </div>  
                                
                                            <!-- tabla -->
                                            <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                    <thead class="header-tablas">
                                                            <tr>
                                                            <th scope="col">RBD</th>
                                                            <th scope="col">Proveedor</th>
                                                            <th scope="col">N° Documento</th>
                                                            <th scope="col">Fecha Documento</th>
                                                            <th scope="col">Detalle</th>
                                                            <th scope="col">Cuenta</th>
                                                            <th scope="col">N° Cuenta</th>
                                                            <th scope="col">Fundamentación</th>
                                                            <th scope="col">Motivo</th>
                                                            <th scope="col">Monto no aceptado</th>
                                                            <th scope="col">Monto Impugnado</th>
                                                            <th scope="col">Acciones</th>
                                                            </tr>
                                                    </thead>
                                                <tbody class="body-tablas">
                                                        <tr *ngFor="let post of postsBoletas">
                                                        <td>{{post.RBD}}</td>
                                                        <td>{{post.trabajador}}</td>
                                                        <td>{{post.n_doc}}</td>
                                                        <td>{{post.fecha_doc}}</td>
                                                        <td>{{post.detalle}}</td>
                                                        <td>{{post.cuenta}}</td>
                                                        <td>{{post.n_cuenta}}</td>
                                                        <td>{{post.fundamentacion}}</td>
                                                        <td>{{post.motivo}}</td>
                                                        <td>{{post.montono}}</td>
                                                        <td>{{post.montoimpugnado}}</td>
                                                        <td>
                                                                <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                        </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                
                                    </div>
                        
                                    <!-- MENU 5 - REMUNERACIONES PRORRATEADAS -->
                                    <div class="tab-pane container fade content-tabla" id="menu5">
                        
                                            <!-- form-->
                                                <div class="row mb-3"> 
                                                    <div class="col-2">
                                                        <label class="col">RBD</label>
                                                        <select class="col"><option>45345</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Trabajador</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Período</label>
                                                        <select class="col">
                                                                <option>Seleccionar Mes</option>
                                                                <option>01</option>
                                                                <option>02</option>
                                                                <option>03</option>
                                                                <option>04</option>
                                                                <option>05</option>
                                                                <option>06</option>
                                                                <option>07</option>
                                                                <option>08</option>
                                                                <option>09</option>
                                                                <option>10</option>
                                                                <option>11</option>
                                                                <option>12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Cuenta</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                            <label class="col"></label>
                                                            <button class="btn btn-primary">Buscar</button>
                                                        </div>
                                                </div>
                                                <!-- subtotales -->
                                                <div class="row mb-3">  
                                                        <div class="col-9"></div>
                                                        <div class="col-3 float-right txt-subtotal">
                                                                <div class="row">
                                                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                                    <p class="col-4 m-0">$ 2.234.890</p>
                                                                </div>
                                                                <div class="row">
                                                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                                    <p class="col-4 m-0">$ 1.234.890</p>
                                                                </div>
                                                        </div>
                                                </div>  

                                                <!-- tabla -->
                                                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                        <thead class="header-tablas">
                                                        <tr>
                                                            <th scope="col">RBD</th>
                                                            <th scope="col">Trabajador</th>
                                                            <th scope="col">Período</th>
                                                            <th scope="col">Cuenta</th>
                                                            <th scope="col">N° Cuenta</th>
                                                            <th scope="col">Fundamentación</th>
                                                            <th scope="col">Motivo</th>
                                                            <th scope="col">Monto no aceptado</th>
                                                            <th scope="col">Monto Impugnado</th>
                                                            <th scope="col">Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="body-tablas">
                                                        <tr *ngFor="let post of postsRemuneracion">
                                                            <td>{{post.RBD}}</td>
                                                            <td>{{post.trabajador}}</td>
                                                            <td>{{post.periodo}}</td>
                                                            <td>{{post.cuenta}}</td>
                                                            <td>{{post.n_cuenta}}</td>
                                                            <td>{{post.fundamentacion}}</td>
                                                            <td>{{post.motivo}}</td>
                                                            <td>{{post.montono}}</td>
                                                            <td>{{post.montoimpugnado}}</td>
                                                            <td>
                                                                    <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                    <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                </table>
                                
                                    </div>
                        
                                    <!-- MENU 6 SANEAMIENTO DE COTIZACIONES -->
                                    <div class="tab-pane container fade content-tabla" id="menu6">
                        
                                            <!-- form-->
                                            <div class="row mb-3"> 
                                                    <div class="col-2">
                                                        <label class="col">RBD</label>
                                                        <select class="col"><option>45345</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Trabajador/Proveedor</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                            <label class="col">N° Documento</label>
                                                            <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Fecha Documento</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Cuenta</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    
                                                        <div class="col-2">
                                                                <label class="col"></label>
                                                                <button class="btn btn-primary">Buscar</button>
                                                        </div>
                                            </div>
                                            <!-- subtotales -->
                                            <div class="row mb-3">  
                                                <div class="col-9"></div>
                                                <div class="col-3 float-right txt-subtotal">
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                            <p class="col-4 m-0">$ 2.234.890</p>
                                                        </div>
                                                        <div class="row">
                                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                            <p class="col-4 m-0">$ 1.234.890</p>
                                                        </div>
                                                </div>
                                            </div>  
                        
                                            <!-- tabla -->
                                            <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                    <thead class="header-tablas">
                                                            <tr>
                                                            <th scope="col">RBD</th>
                                                            <th scope="col">Trabajador/Proveedor</th>
                                                            <th scope="col">N° Documento</th>
                                                            <th scope="col">Fecha Documento</th>
                                                            <th scope="col">Detalle</th>
                                                            <th scope="col">Cuenta</th>
                                                            <th scope="col">N° Cuenta</th>
                                                            <th scope="col">Fundamentación</th>
                                                            <th scope="col">Motivo</th>
                                                            <th scope="col">Monto no aceptado</th>
                                                            <th scope="col">Monto Impugnado</th>
                                                            <th scope="col">Acciones</th>
                                                            </tr>
                                                    </thead>
                                                <tbody class="body-tablas">
                                                        <tr *ngFor="let post of postsBoletas">
                                                        <td>{{post.RBD}}</td>
                                                        <td>{{post.trabajador}}</td>
                                                        <td>{{post.n_doc}}</td>
                                                        <td>{{post.fecha_doc}}</td>
                                                        <td>{{post.detalle}}</td>
                                                        <td>{{post.cuenta}}</td>
                                                        <td>{{post.n_cuenta}}</td>
                                                        <td>{{post.fundamentacion}}</td>
                                                        <td>{{post.motivo}}</td>
                                                        <td>{{post.montono}}</td>
                                                        <td>{{post.montoimpugnado}}</td>
                                                        <td>
                                                                <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                        </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                        
                                    </div>
                        
                                    <!-- MENU 7 SANEAMIENTO DE PROVEEDORES -->
                                    <div class="tab-pane container fade content-tabla" id="menu7">
                        
                                            <!-- form-->
                                                <div class="row mb-3"> 
                                                    <div class="col-2">
                                                        <label class="col">RBD</label>
                                                        <select class="col"><option>45345</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Proveedor</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Fecha Documento</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="col">Cuenta</label>
                                                        <select class="col"><option>Seleccionar</option></select>
                                                    </div>
                                                    <div class="col-2">
                                                            <label class="col"></label>
                                                            <button class="btn btn-primary">Buscar</button>
                                                    </div>
                                                </div>
                                                <!-- subtotales -->
                                                <div class="row mb-3">  
                                                        <div class="col-9"></div>
                                                        <div class="col-3 float-right txt-subtotal">
                                                                <div class="row">
                                                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                                                    <p class="col-4 m-0">$ 2.234.890</p>
                                                                </div>
                                                                <div class="row">
                                                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                                                    <p class="col-4 m-0">$ 1.234.890</p>
                                                                </div>
                                                        </div>
                                                </div>  

                                                <!-- tabla -->
                                                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                                                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                                        <thead class="header-tablas">
                                                                <tr>
                                                                <th scope="col">RBD</th>
                                                                <th scope="col">Proveedor</th>
                                                                <th scope="col">Fecha Documento</th>
                                                                <th scope="col">Cuenta</th>
                                                                <th scope="col">N° Cuenta</th>
                                                                <th scope="col">Fundamentación</th>
                                                                <th scope="col">Motivo</th>
                                                                <th scope="col">Monto no aceptado</th>
                                                                <th scope="col">Monto Impugnado</th>
                                                                <th scope="col">Acciones</th>
                                                                </tr>
                                                        </thead>
                                                    <tbody class="body-tablas">
                                                            <tr *ngFor="let post of postsBoletas">
                                                            <td>{{post.RBD}}</td>
                                                            <td>{{post.trabajador}}</td>
                                                            <td>{{post.fecha_doc}}</td>
                                                            <td>{{post.cuenta}}</td>
                                                            <td>{{post.n_cuenta}}</td>
                                                            <td>{{post.fundamentacion}}</td>
                                                            <td>{{post.motivo}}</td>
                                                            <td>{{post.montono}}</td>
                                                            <td>{{post.montoimpugnado}}</td>
                                                            <td>
                                                                    <i class="fa fa-eye ico-action-table" title="Ver"></i> 
                                                                    <i class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                                            </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                
                                    </div>                       
                        
                                </div>
                        
                        </div>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        
                        <input type="submit"  value="Cerrar" class="btn btn-primary" data-dismiss="modal">
                        
                    </div>

                </div>
        </div>
</div>

<!-- Modal total gastos impugnados -->
<div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Ver Total Gastos Impugnados</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                       NO EXISTE MOCKUP DE ESTA VISTA
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        
                        <input type="submit"  value="Cerrar" class="btn btn-primary" data-dismiss="modal">
                        
                    </div>

                </div>
        </div>
</div>