<div class="container-full p-3">

  <div class="col-12 float-left p-0 header">
    
    <div class="col-12 float-left logo">
      <img src="assets/logo_17.png" [routerLink]="['/bienvenida']">
      <strong class="titulo-header">Sistema de Procesos Uso Legal de Recursos (SIPLUR)</strong>
    </div>
  </div>

  <!-- TOOLBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border mb-3" *ngIf="identity">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- ENLACES A PÁGINAS -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold text-black-50" [routerLink]="['/bienvenida']"> <i class="fa fa-home"></i> Bienvenida</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/listar-recursos']"> <i class="fa fa-list"></i> Listar Recursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['#']"><i class="fa fa-angle-right"></i> MMR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" (click)="actionTable('crear')"><i class="fa fa-plus"></i> Ingresar Nuevo Recursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['#']"><i class="fa fa-search"></i> Buscar Recurso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['#']"><i class="fa fa-download"></i> Escrito</a>
          </li>
        </ul>

        <!-- MI PERFIL -->
        <ul class="navbar-nav navbar-right" >
                          
            
            <li class="nav-item cursor-pointer" [routerLink]="['#']">
              <div class="nav-link"><i class="fa fa-exclamation-triangle"></i> <span class="bg-danger text-light pl-1 pr-1 rounded n-alert">2</span></div>
            </li>
            <li class="nav-item">
              <div class="nav-link"><i class="fa fa-user-circle text-primary mr-1"></i> <span class="small text-primary">Bienvenido {{name}} ({{perfil}})</span> </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/logout/1']"><i class="fa fa-sign-out text-danger mr-1"></i> <span class="small text-danger">Cerrar Sesión</span></a>
            </li>
        </ul>
    </div>
  </nav>

  <div class="col-12 float-left p-3 mb-4 border rounded panel-main">
    <router-outlet></router-outlet>
  </div>

  <footer>
    Superintendencia de Educación<br>
    Teléfono +56 232431000 - Dirección Morandé 115, Santiago<br>
    <a href="">Direcciones Regionales</a><br>
    Versión 0 0 1-SNAPSHOT
  </footer>

</div>


