<div class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Este es un portal para ...</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" [routerLink]="['/listar-recursos']">Recepción y Asignación de Recursos</a>
        </p>
      </div>
