<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_7_1 SELECCIONAR GASTO IMPUGNADOS PARA SU 
        ARGUMENTACIÓN</h6>

<div class="text-center mb-5 mt-5">
    <img src="{{ruta}}linea-argumento-gastos.png" >
</div>

<h3 *ngIf="action == 'crear'" class="mb-5">Ingreso de Argumentación de Gastos Impugnados</h3>
<h3 *ngIf="action == 'editar'" class="mb-5">Modificar Argumentación de Gastos Impugnados</h3>
<h3 *ngIf="action == 'ver'" class="mb-5">Argumentación de Gastos Impugnados</h3>

<!-- FORM -->

<div class="row border rounded bg-gris p-3 m-3">
    <div class="col-9 float-left">
        <div class="col float-left">
            <label class="float-left text-left mr-2">Acta</label> 
            <select name="select" class="text-left">
                    <option value="value1" selected>Seleccionar</option> 
                    <option value="value2" >Value 2</option>
                    <option value="value3">Value 3</option>
            </select>
        </div>
    </div>
    <div class="col-3 float-right txt-subtotal">
        <div class="row">
            <p class="col-7 float-left text-right m-0">Total Gastos No Aceptados:</p> 
            <p class="col-5 float-left text-left m-0">$ 3.234.334</p>
        </div>
        <div class="row">
            <p class="col-7 float-left text-right">Total Montos Impugnados:</p> <p class="col-5 float-left text-left">$ 5.578.432</p>
        </div>
    </div>
</div>

<!-- PESTAÑAS -->
<div class="col-12 float-left mb-2">
        <!-- Nav pestañas -->
        <ul class="nav nav-tabs font-weight-bold pestanias">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Remuneraciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Boletas y Facturas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Servicios ATE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4">Prorrateados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu5">Remuneraciones Prorrateada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu6">Saneamiento de Cotizaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu7">Saneamiento de Proveedores</a>
            </li>

        </ul> 
        <!-- panel pestañas -->
        <div class="tab-content border border-top-0  pt-2 bg-blanco">

            <!-- MENU 1 REMUNERACIONES -->
            <div class="tab-pane container active content-tabla" id="home">

                <!-- form-->
                <div class="row mb-3"> 
                    <div class="col-2">
                        <label class="col">RBD</label>
                        <select class="col"><option>45345</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col">Trabajador</label>
                        <select class="col"><option>Seleccionar</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col">Período</label>
                        <select class="col">
                            <option>Seleccionar Mes</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="col">Cuenta</label>
                        <select class="col"><option>Seleccionar</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col"></label>
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <!-- subtotales -->
                <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                </div>  

                <!-- tabla -->
                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                    <thead class="header-tablas">
                      <tr>
                        <th scope="col">RBD</th>
                        <th scope="col">Trabajador</th>
                        <th scope="col">Período</th>
                        <th scope="col">Cuenta</th>
                        <th scope="col">N° Cuenta</th>
                        <th scope="col">Fundamentación</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Monto no aceptado</th>
                        <th scope="col">Monto Impugnado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody class="body-tablas">
                      <tr *ngFor="let post of postsRemuneracion">
                        <td>{{post.RBD}}</td>
                        <td>{{post.trabajador}}</td>
                        <td>{{post.periodo}}</td>
                        <td>{{post.cuenta}}</td>
                        <td>{{post.n_cuenta}}</td>
                        <td>{{post.fundamentacion}}</td>
                        <td>{{post.motivo}}</td>
                        <td>{{post.montono}}</td>
                        <td>{{post.montoimpugnado}}</td>
                        <td>
                                <i class="fa fa-eye ico-action-table" data-toggle="modal" data-target="#myModal2" title="Ver"></i> 
                                <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                        </td>
                      </tr>
                    </tbody>
                </table>

            </div>

            <!-- MENU 2 BOLETAS Y FACTURAS -->
            <div class="tab-pane container fade content-tabla" id="menu1">

                <!-- form-->
                <div class="row mb-3"> 
                        <div class="col-2">
                            <label class="col">RBD</label>
                            <select class="col"><option>45345</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Proveedor</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        
                        <div class="col-2">
                                <label class="col">N° Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col">
                                        <option>Seleccionar Mes</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                </select>
                            </div>
                        <div class="col-2">
                            <label class="col">Cuenta</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col"></label>
                                <button class="btn btn-primary">Buscar</button>
                        </div>
                </div>
                <!-- subtotales -->
                <div class="row mb-3">  
                    <div class="col-9"></div>
                    <div class="col-3 float-right txt-subtotal">
                            <div class="row">
                                <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                <p class="col-4 m-0">$ 2.234.890</p>
                            </div>
                            <div class="row">
                                <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                <p class="col-4 m-0">$ 1.234.890</p>
                            </div>
                    </div>
                </div>  
    
                <!-- tabla -->
                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead class="header-tablas">
                          <tr>
                            <th scope="col">RBD</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">N° Documento</th>
                            <th scope="col">Fecha Documento</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">N° Cuenta</th>
                            <th scope="col">Fundamentación</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Monto no aceptado</th>
                            <th scope="col">Monto Impugnado</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td>{{post.montoimpugnado}}</td>
                                  <td>
                                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                  </td>
                                </tr>
                        </tbody>
                </table>
    
            </div>

            <!-- MENU 3 SERVICIOS ATE -->
            <div class="tab-pane container fade content-tabla" id="menu2">

                <!-- form-->
                <div class="row mb-3"> 
                        <div class="col-2">
                            <label class="col">RBD</label>
                            <select class="col"><option>45345</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Proveedor</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col">N° Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Fecha Documento</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Cuenta</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                            </div>
                </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                            <div class="col-9"></div>
                            <div class="col-3 float-right txt-subtotal">
                                    <div class="row">
                                        <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                        <p class="col-4 m-0">$ 2.234.890</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                        <p class="col-4 m-0">$ 1.234.890</p>
                                    </div>
                            </div>
                    </div>  

                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                      <th scope="col">Acciones</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td>{{post.montoimpugnado}}</td>
                                  <td>
                                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                  </td>
                                </tr>
                        </tbody>
                    </table>
    
            </div>

            <!-- MENU 4 - PRORRATEADOS -->
            <div class="tab-pane container fade content-tabla" id="menu4">

                    <!-- form-->
                    <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col">N° Documento</label>
                                    <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            
                                <div class="col-2">
                                        <label class="col"></label>
                                        <button class="btn btn-primary">Buscar</button>
                                </div>
                    </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                    </div>  
        
                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                      <th scope="col">Acciones</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td>{{post.montoimpugnado}}</td>
                                  <td>
                                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                </td>
                                </tr>
                        </tbody>
                    </table>
                
            </div>

            <!-- MENU 5 - REMUNERACIONES PRORRATEADAS -->
            <div class="tab-pane container fade content-tabla" id="menu5">

                    <!-- form-->
                        <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Trabajador</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Período</label>
                                <select class="col">
                                        <option>Seleccionar Mes</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                                </div>
                        </div>
                        <!-- subtotales -->
                        <div class="row mb-3">  
                                <div class="col-9"></div>
                                <div class="col-3 float-right txt-subtotal">
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                            <p class="col-4 m-0">$ 2.234.890</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                            <p class="col-4 m-0">$ 1.234.890</p>
                                        </div>
                                </div>
                        </div>  

                        <!-- tabla -->
                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                  <tr>
                                    <th scope="col">RBD</th>
                                    <th scope="col">Trabajador</th>
                                    <th scope="col">Período</th>
                                    <th scope="col">Cuenta</th>
                                    <th scope="col">N° Cuenta</th>
                                    <th scope="col">Fundamentación</th>
                                    <th scope="col">Motivo</th>
                                    <th scope="col">Monto no aceptado</th>
                                    <th scope="col">Monto Impugnado</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody class="body-tablas">
                                  <tr *ngFor="let post of postsRemuneracion">
                                    <td>{{post.RBD}}</td>
                                    <td>{{post.trabajador}}</td>
                                    <td>{{post.periodo}}</td>
                                    <td>{{post.cuenta}}</td>
                                    <td>{{post.n_cuenta}}</td>
                                    <td>{{post.fundamentacion}}</td>
                                    <td>{{post.motivo}}</td>
                                    <td>{{post.montono}}</td>
                                    <td>{{post.montoimpugnado}}</td>
                                    <td>
                                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                    </td>
                                  </tr>
                                </tbody>
                        </table>
        
            </div>

            <!-- MENU 6 SANEAMIENTO DE COTIZACIONES -->
            <div class="tab-pane container fade content-tabla" id="menu6">

                    <!-- form-->
                    <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Trabajador/Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col">N° Documento</label>
                                    <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            
                                <div class="col-2">
                                        <label class="col"></label>
                                        <button class="btn btn-primary">Buscar</button>
                                </div>
                    </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                    </div>  

                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Trabajador/Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                      <th scope="col">Acciones</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td>{{post.montoimpugnado}}</td>
                                  <td>
                                        <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                        <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                  </td>
                                </tr>
                        </tbody>
                    </table>

            </div>

            <!-- MENU 7 SANEAMIENTO DE PROVEEDORES -->
            <div class="tab-pane container fade content-tabla" id="menu7">

                    <!-- form-->
                        <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                        <!-- subtotales -->
                        <div class="row mb-3">  
                                <div class="col-9"></div>
                                <div class="col-3 float-right txt-subtotal">
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                            <p class="col-4 m-0">$ 2.234.890</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                            <p class="col-4 m-0">$ 1.234.890</p>
                                        </div>
                                </div>
                        </div>  

                        <!-- tabla -->
                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                        <tr>
                                          <th scope="col">RBD</th>
                                          <th scope="col">Proveedor</th>
                                          <th scope="col">Fecha Documento</th>
                                          <th scope="col">Cuenta</th>
                                          <th scope="col">N° Cuenta</th>
                                          <th scope="col">Fundamentación</th>
                                          <th scope="col">Motivo</th>
                                          <th scope="col">Monto no aceptado</th>
                                          <th scope="col">Monto Impugnado</th>
                                          <th scope="col">Acciones</th>
                                        </tr>
                                </thead>
                            <tbody class="body-tablas">
                                    <tr *ngFor="let post of postsBoletas">
                                      <td>{{post.RBD}}</td>
                                      <td>{{post.trabajador}}</td>
                                      <td>{{post.fecha_doc}}</td>
                                      <td>{{post.cuenta}}</td>
                                      <td>{{post.n_cuenta}}</td>
                                      <td>{{post.fundamentacion}}</td>
                                      <td>{{post.motivo}}</td>
                                      <td>{{post.montono}}</td>
                                      <td>{{post.montoimpugnado}}</td>
                                      <td>
                                            <i data-toggle="modal" data-target="#myModal2" class="fa fa-eye ico-action-table" title="Ver"></i> 
                                            <i *ngIf="action == 'crear' || action == 'editar'" data-toggle="modal" data-target="#myModal2" class="fa fa-pencil ico-action-table" title="Modificar Argumento"></i> 
                                      </td>
                                    </tr>
                            </tbody>
                        </table>
        
            </div>

        </div>
  
</div>

<!-- BOTONERA GUARDAR -->
<div *ngIf="action == 'crear' || action == 'editar'" class="col float-left text-center">
    <form #GuardarForm="ngForm" (ngSubmit)="onSubmit(GuardarForm)">
        <button class="btn btn-danger ml-2">Eliminar Argumento</button>
        <button data-toggle="modal" data-target="#myModal" class="btn btn-primary ml-2"><i class="fa fa-plus"></i> Ingresar Argumento</button>
    </form>
</div>

<!-- NAVEJACION FLUJO --> 
<div class="col float-left text-right">
        <button [routerLink]="['/gastos']" class="btn btn-primary float-left">Anterior</button>
        <button class="btn btn-primary float-right" *ngIf="status != 'success' && action == 'crear'" disabled>Siguiente</button>
        <button [routerLink]="['/antecedentes']" class="btn btn-primary float-right" *ngIf="status == 'success' && action == 'crear'">Siguiente</button>
        <button [routerLink]="['/antecedentes']" class="btn btn-primary float-right" *ngIf="action == 'ver' || action == 'editar'">Siguiente</button>
</div>


<!-- Modal ingresar Argumento -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Seleccionar Argumento</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                       <div class="col">
                           <span class="pr-5">Acta: <strong>1220183484</strong></span> <span>Categoría: <strong>Remuneraciones</strong></span>
                       </div>

                       <div class="tab-pane container active content-tabla" id="home">

                            <!-- tabla -->
                            <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                  <tr>
                                    <th scope="col">RBD</th>
                                    <th scope="col">Proveedor</th>
                                    <th scope="col">Tipo Documento</th>
                                    <th scope="col">N° Documento</th>
                                    <th scope="col">Período</th>
                                    <th scope="col">Cuenta</th>
                                    <th scope="col">Monto no aceptado</th>
                                    <th scope="col">Monto Impugnado</th>
                                  </tr>
                                </thead>
                                <tbody class="body-tablas">
                                  <tr *ngFor="let post of postsArgumento">
                                    <td>{{post.RBD}}</td>
                                    <td>{{post.trabajador}}</td>
                                    <td>{{post.tipodoc}}</td>
                                    <td>{{post.ndoc}}</td>
                                    <td>{{post.periodo}}</td>
                                    <td>{{post.cuenta}}</td>
                                    <td>{{post.montono}}</td>
                                    <td>{{post.montoimpugnado}}</td>
                                  </tr>
                                </tbody>
                            </table>
            
                        </div>

                        <div>
                            <textarea rows=6 class="col"></textarea>
                        </div>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <input type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                            <a class="btn btn-primary text-light  cursor-pointer" data-dismiss="modal">Guardar</a>
                    </div>

                </div>
        </div>
</div> 

<!-- Modal Modificar Argumento -->
<div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 *ngIf="action == 'crear' || action == 'editar'" class="modal-title">Modificar Argumento Gastos</h4>
                      <h4 *ngIf="action == 'ver'" class="modal-title">Argumento Gastos</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                       <div class="tab-pane container active content-tabla" id="home">

                            <!-- tabla -->
                            <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                  <tr>
                                    <th *ngIf="action == 'crear' || action == 'editar'" scope="col">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="example1">
                                            <label class="custom-control-label" for="customCheckTodo"></label>
                                        </div>
                                    </th>
                                    <th scope="col">RBD</th>
                                    <th scope="col">Trabajador</th>
                                    <th scope="col">Período</th>
                                    <th scope="col">Cuenta no aceptada</th>
                                    <th scope="col">Gasto no aceptado</th>
                                    <th scope="col">Monto Impugnado</th>
                                  </tr>
                                </thead>
                                <tbody class="body-tablas">
                                  <tr *ngFor="let post of postsArgumento">
                                    <td *ngIf="action == 'crear' || action == 'editar'" scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                            <label class="custom-control-label" for="customCheck"></label>
                                        </div>
                                    </td>
                                    <td>{{post.RBD}}</td>
                                    <td>{{post.trabajador}}</td>
                                    <td>{{post.periodo}}</td>
                                    <td>{{post.cuenta}}</td>
                                    <td>{{post.montono}}</td>
                                    <td>{{post.montoimpugnado}}</td>
                                  </tr>
                                </tbody>
                            </table>
            
                        </div>

                        <div>
                            <textarea rows=6 class="col">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            </textarea>
                        </div>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <input *ngIf="action == 'crear' || action == 'editar'" type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                            <a *ngIf="action == 'crear' || action == 'editar'" class="btn btn-primary text-light  cursor-pointer" data-dismiss="modal">Guardar</a>
                            <input *ngIf="action == 'ver'" type="button"  value="Aceptar" class="btn btn-primary text-light" data-dismiss="modal">
                    </div>

                </div>
        </div>
</div> 