<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_6 Impugnar Gastos no Aceptados de un Acta</h6>

<div class="text-center mb-5 mt-5">
    <img src="{{ruta}}linea-gastos.png" >
</div>

<h3 *ngIf="action == 'crear'" class="mb-5">Ingreso de Gastos Impugnados</h3>
<h3 *ngIf="action == 'editar'" class="mb-5">Modificar Gastos Impugnados</h3>
<h3 *ngIf="action == 'ver'" class="mb-5">Gastos Impugnados</h3>

<!-- FORM -->

<div *ngIf="action == 'crear' || action == 'editar'" class="row border rounded bg-gris p-3 m-3">
    <div class="col-9 float-left">
        <div class="col float-left">
            <label class="col-4 float-left text-right">Acta</label> 
            <select name="select" class="text-left">
                    <option value="value1" selected>Seleccionar</option> 
                    <option value="value2" >Value 2</option>
                    <option value="value3">Value 3</option>
            </select>
        </div>
        <div class="col float-left">
            <label class="col-4 float-left text-right">Nombre del Programas</label> 
            <input class="col-8 float-left text-left" type="text" placeholder="Programa de fiscalización recursos SEP 2015">
        </div>
    </div>
    <div class="col-3 float-right txt-subtotal">
        <div class="row">
            <p class="col-7 float-left text-right m-0">Total Gastos No Aceptados:</p> 
            <p class="col-5 float-left text-left m-0">$ 3.234.334</p>
        </div>
        <div class="row">
            <p class="col-7 float-left text-right">Total Montos Impugnados:</p> <p class="col-5 float-left text-left">$ 5.578.432</p>
        </div>
    </div>
    <div class="col float-left text-center mt-3">
            <button class="mr-2 btn btn-primary">Modificar Monto Impugnado</button>
            <button class="mr-2 btn btn-primary" [routerLink]="['/']">Impugnar Gasto</button>
            <button class="mr-2 btn btn-primary" [routerLink]="['/']">Desimpugnar Gasto</button>
    </div>
</div>

<!-- PESTAÑAS -->
<div class="col-12 float-left mb-2">
        <!-- Nav pestañas -->
        <ul class="nav nav-tabs font-weight-bold pestanias">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Remuneraciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Boletas y Facturas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Servicios ATE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4">Prorrateados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu5">Remuneraciones Prorrateada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu6">Saneamiento de Cotizaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu7">Saneamiento de Proveedores</a>
            </li>

        </ul> 
        <!-- panel pestañas -->
        <div class="tab-content border border-top-0  pt-2 bg-blanco">

            <!-- MENU 1 REMUNERACIONES -->
            <div class="tab-pane container active content-tabla" id="home">

                <!-- form-->
                <div class="row mb-3"> 
                    <div class="col-2">
                        <label class="col">RBD</label>
                        <select class="col"><option>45345</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col">Trabajador</label>
                        <select class="col"><option>Seleccionar</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col">Período</label>
                        <select class="col">
                            <option>Seleccionar Mes</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="col">Cuenta</label>
                        <select class="col"><option>Seleccionar</option></select>
                    </div>
                    <div class="col-2">
                        <label class="col"></label>
                        <button class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <!-- subtotales -->
                <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                </div>  

                <!-- tabla -->
                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                    <thead class="header-tablas">
                      <tr>
                        <th scope="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                <label class="custom-control-label" for="customCheckTodo"></label>
                            </div>
                        </th>
                        <th scope="col">RBD</th>
                        <th scope="col">Trabajador</th>
                        <th scope="col">Período</th>
                        <th scope="col">Cuenta</th>
                        <th scope="col">N° Cuenta</th>
                        <th scope="col">Fundamentación</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Monto no aceptado</th>
                        <th scope="col">Monto Impugnado</th>
                      </tr>
                    </thead>
                    <tbody class="body-tablas">
                      <tr *ngFor="let post of postsRemuneracion">
                        <th scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck"></label>
                            </div>
                        </th>
                        <td>{{post.RBD}}</td>
                        <td>{{post.trabajador}}</td>
                        <td>{{post.periodo}}</td>
                        <td>{{post.cuenta}}</td>
                        <td>{{post.n_cuenta}}</td>
                        <td>{{post.fundamentacion}}</td>
                        <td>{{post.motivo}}</td>
                        <td>{{post.montono}}</td>
                        <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                        <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                      </tr>
                    </tbody>
                </table>
                <!-- paginación -->

            </div>

            <!-- MENU 2 BOLETAS Y FACTURAS -->
            <div class="tab-pane container fade content-tabla" id="menu1">

                <!-- form-->
                <div class="row mb-3"> 
                        <div class="col-2">
                            <label class="col">RBD</label>
                            <select class="col"><option>45345</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Proveedor</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        
                        <div class="col-2">
                                <label class="col">N° Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col">
                                        <option>Seleccionar Mes</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                </select>
                            </div>
                        <div class="col-2">
                            <label class="col">Cuenta</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col"></label>
                                <button class="btn btn-primary">Buscar</button>
                        </div>
                </div>
                <!-- subtotales -->
                <div class="row mb-3">  
                    <div class="col-9"></div>
                    <div class="col-3 float-right txt-subtotal">
                            <div class="row">
                                <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                <p class="col-4 m-0">$ 2.234.890</p>
                            </div>
                            <div class="row">
                                <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                <p class="col-4 m-0">$ 1.234.890</p>
                            </div>
                    </div>
                </div>  
    
                <!-- tabla -->
                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead class="header-tablas">
                          <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                    <label class="custom-control-label" for="customCheckTodo"></label>
                                </div>
                            </th>
                            <th scope="col">RBD</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">N° Documento</th>
                            <th scope="col">Fecha Documento</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">N° Cuenta</th>
                            <th scope="col">Fundamentación</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Monto no aceptado</th>
                            <th scope="col">Monto Impugnado</th>
                          </tr>
                        </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <th scope="row">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                          <label class="custom-control-label" for="customCheck"></label>
                                      </div>
                                  </th>
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                  <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                </tr>
                        </tbody>
                </table>
    
            </div>

            <!-- MENU 3 SERVICIOS ATE -->
            <div class="tab-pane container fade content-tabla" id="menu2">

                <!-- form-->
                <div class="row mb-3"> 
                        <div class="col-2">
                            <label class="col">RBD</label>
                            <select class="col"><option>45345</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Proveedor</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                                <label class="col">N° Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Fecha Documento</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        <div class="col-2">
                            <label class="col">Cuenta</label>
                            <select class="col"><option>Seleccionar</option></select>
                        </div>
                        
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                            </div>
                </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                            <div class="col-9"></div>
                            <div class="col-3 float-right txt-subtotal">
                                    <div class="row">
                                        <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                        <p class="col-4 m-0">$ 2.234.890</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                        <p class="col-4 m-0">$ 1.234.890</p>
                                    </div>
                            </div>
                    </div>  

                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                              <label class="custom-control-label" for="customCheckTodo"></label>
                                          </div>
                                      </th>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <th scope="row">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                          <label class="custom-control-label" for="customCheck"></label>
                                      </div>
                                  </th>
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                  <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                </tr>
                        </tbody>
                    </table>
    
            </div>

            <!-- MENU 4 - PRORRATEADOS -->
            <div class="tab-pane container fade content-tabla" id="menu4">

                    <!-- form-->
                    <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col">N° Documento</label>
                                    <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            
                                <div class="col-2">
                                        <label class="col"></label>
                                        <button class="btn btn-primary">Buscar</button>
                                </div>
                    </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                    </div>  

                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                              <label class="custom-control-label" for="customCheckTodo"></label>
                                          </div>
                                      </th>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <th scope="row">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                          <label class="custom-control-label" for="customCheck"></label>
                                      </div>
                                  </th>
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                  <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                </tr>
                        </tbody>
                    </table>
                
            </div>

            <!-- MENU 5 - REMUNERACIONES PRORRATEADAS -->
            <div class="tab-pane container fade content-tabla" id="menu5">

                    <!-- form-->
                        <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Trabajador</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Período</label>
                                <select class="col">
                                        <option>Seleccionar Mes</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                                </div>
                        </div>
                        <!-- subtotales -->
                        <div class="row mb-3">  
                                <div class="col-9"></div>
                                <div class="col-3 float-right txt-subtotal">
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                            <p class="col-4 m-0">$ 2.234.890</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                            <p class="col-4 m-0">$ 1.234.890</p>
                                        </div>
                                </div>
                        </div>  

                        <!-- tabla -->
                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                  <tr>
                                    <th scope="col">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                            <label class="custom-control-label" for="customCheckTodo"></label>
                                        </div>
                                    </th>
                                    <th scope="col">RBD</th>
                                    <th scope="col">Trabajador</th>
                                    <th scope="col">Período</th>
                                    <th scope="col">Cuenta</th>
                                    <th scope="col">N° Cuenta</th>
                                    <th scope="col">Fundamentación</th>
                                    <th scope="col">Motivo</th>
                                    <th scope="col">Monto no aceptado</th>
                                    <th scope="col">Monto Impugnado</th>
                                  </tr>
                                </thead>
                                <tbody class="body-tablas">
                                  <tr *ngFor="let post of postsRemuneracion">
                                    <th scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                            <label class="custom-control-label" for="customCheck"></label>
                                        </div>
                                    </th>
                                    <td>{{post.RBD}}</td>
                                    <td>{{post.trabajador}}</td>
                                    <td>{{post.periodo}}</td>
                                    <td>{{post.cuenta}}</td>
                                    <td>{{post.n_cuenta}}</td>
                                    <td>{{post.fundamentacion}}</td>
                                    <td>{{post.motivo}}</td>
                                    <td>{{post.montono}}</td>
                                    <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                    <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                  </tr>
                                </tbody>
                        </table>
        
            </div>

            <!-- MENU 6 SANEAMIENTO DE COTIZACIONES -->
            <div class="tab-pane container fade content-tabla" id="menu6">

                    <!-- form-->
                    <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Trabajador/Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col">N° Documento</label>
                                    <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            
                                <div class="col-2">
                                        <label class="col"></label>
                                        <button class="btn btn-primary">Buscar</button>
                                </div>
                    </div>
                    <!-- subtotales -->
                    <div class="row mb-3">  
                        <div class="col-9"></div>
                        <div class="col-3 float-right txt-subtotal">
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                    <p class="col-4 m-0">$ 2.234.890</p>
                                </div>
                                <div class="row">
                                    <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                    <p class="col-4 m-0">$ 1.234.890</p>
                                </div>
                        </div>
                    </div>  

                    <!-- tabla -->
                    <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                            <thead class="header-tablas">
                                    <tr>
                                      <th scope="col">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                              <label class="custom-control-label" for="customCheckTodo"></label>
                                          </div>
                                      </th>
                                      <th scope="col">RBD</th>
                                      <th scope="col">Trabajador/Proveedor</th>
                                      <th scope="col">N° Documento</th>
                                      <th scope="col">Fecha Documento</th>
                                      <th scope="col">Detalle</th>
                                      <th scope="col">Cuenta</th>
                                      <th scope="col">N° Cuenta</th>
                                      <th scope="col">Fundamentación</th>
                                      <th scope="col">Motivo</th>
                                      <th scope="col">Monto no aceptado</th>
                                      <th scope="col">Monto Impugnado</th>
                                    </tr>
                            </thead>
                        <tbody class="body-tablas">
                                <tr *ngFor="let post of postsBoletas">
                                  <th scope="row">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                          <label class="custom-control-label" for="customCheck"></label>
                                      </div>
                                  </th>
                                  <td>{{post.RBD}}</td>
                                  <td>{{post.trabajador}}</td>
                                  <td>{{post.n_doc}}</td>
                                  <td>{{post.fecha_doc}}</td>
                                  <td>{{post.detalle}}</td>
                                  <td>{{post.cuenta}}</td>
                                  <td>{{post.n_cuenta}}</td>
                                  <td>{{post.fundamentacion}}</td>
                                  <td>{{post.motivo}}</td>
                                  <td>{{post.montono}}</td>
                                  <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                  <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                </tr>
                        </tbody>
                    </table>
            </div>

            <!-- MENU 7 SANEAMIENTO DE PROVEEDORES -->
            <div class="tab-pane container fade content-tabla" id="menu7">

                    <!-- form-->
                        <div class="row mb-3"> 
                            <div class="col-2">
                                <label class="col">RBD</label>
                                <select class="col"><option>45345</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Proveedor</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Fecha Documento</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                <label class="col">Cuenta</label>
                                <select class="col"><option>Seleccionar</option></select>
                            </div>
                            <div class="col-2">
                                    <label class="col"></label>
                                    <button class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                        <!-- subtotales -->
                        <div class="row mb-3">  
                                <div class="col-9"></div>
                                <div class="col-3 float-right txt-subtotal">
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Gastos no Aceptados</p>
                                            <p class="col-4 m-0">$ 2.234.890</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-8 m-0">Subtotal Monto Impugnado</p>
                                            <p class="col-4 m-0">$ 1.234.890</p>
                                        </div>
                                </div>
                        </div>  

                        <!-- tabla -->
                        <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                        <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead class="header-tablas">
                                        <tr>
                                          <th scope="col">
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="customCheckTodo" name="exampleTodo">
                                                  <label class="custom-control-label" for="customCheckTodo"></label>
                                              </div>
                                          </th>
                                          <th scope="col">RBD</th>
                                          <th scope="col">Proveedor</th>
                                          <th scope="col">Fecha Documento</th>
                                          <th scope="col">Cuenta</th>
                                          <th scope="col">N° Cuenta</th>
                                          <th scope="col">Fundamentación</th>
                                          <th scope="col">Motivo</th>
                                          <th scope="col">Monto no aceptado</th>
                                          <th scope="col">Monto Impugnado</th>
                                        </tr>
                                </thead>
                            <tbody class="body-tablas">
                                    <tr *ngFor="let post of postsBoletas">
                                      <th scope="row">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                              <label class="custom-control-label" for="customCheck"></label>
                                          </div>
                                      </th>
                                      <td>{{post.RBD}}</td>
                                      <td>{{post.trabajador}}</td>
                                      <td>{{post.fecha_doc}}</td>
                                      <td>{{post.cuenta}}</td>
                                      <td>{{post.n_cuenta}}</td>
                                      <td>{{post.fundamentacion}}</td>
                                      <td>{{post.motivo}}</td>
                                      <td>{{post.montono}}</td>
                                      <td *ngIf="action=='crear' || action == 'editar'"><input class="input-tabla" value="{{post.montoimpugnado}}"></td>
                                      <td *ngIf="action=='ver'">{{post.montoimpugnado}}</td>
                                    </tr>
                            </tbody>
                        </table>
        
            </div>

        </div>
  
</div>

<!-- BOTONERA GUARDAR -->
<div *ngIf="action == 'crear' || action == 'editar'" class="col float-left text-center">
    <form #GuardarForm="ngForm" (ngSubmit)="onSubmit(GuardarForm)">
        <button class="btn btn-primary ml-2">Guardar</button>
    </form>
</div>

<!-- NAVEJACION FLUJO --> 
<div class="col float-left text-right">
        <button [routerLink]="['/gestionar-acta-recurso']" class="btn btn-primary float-left">Anterior</button>
        <button [routerLink]="['/argumento-gastos']" class="btn btn-primary float-right" *ngIf="status != 'success' && action == 'crear'" disabled>Siguiente</button>
        <button [routerLink]="['/argumento-gastos']" class="btn btn-primary float-right" *ngIf="status == 'success' && action == 'crear'">Siguiente</button>
        <button [routerLink]="['/argumento-gastos']" class="btn btn-primary float-right" *ngIf="action == 'ver' || action == 'editar'">Siguiente</button>
</div>


      