.login{
    background: #ececec;
    margin: auto;
    width: 270px;
    border-radius: 5px;
}
.cursor-pointer{
    cursor: pointer;
}
.totalTabla{
    color: #0077C5 !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding:5px;
    border: 1px solid #0077C5;
    border-radius: 5px;
}
.totalTabla:hover{
    background: #f8f8f8;
    border: none;
}


/* FORMULARIOS */

input{
    padding: 2px;
}
select{
    padding: 2px;
}
.header{
    background-size: cover;
    background-image: url(./assets/header-img.jpg);
    background-position: 100% 50%;
    height: 150px;
}.logo img{
    width: 200px;
    margin-left: 55px;
    cursor: pointer;
}
.titulo-header{
    color: #fff;
    font-size: 22px;
    float: right;
    background: rgba(0, 0, 0, 0.2);
    padding: 22px;
    margin-top: 33px;
    margin-right: 55px;
    text-shadow: 3px 3px 2px #000;
}
footer{
    font-size: 9px;
}
.bg-gris{
    background: #e9e8e8;
}
.bg-blanco{
    background: #fff;
}
.panel-main{
    background: #f0f1f3;
}
.icoFile{
    color: gray;
    font-size: 22px;
    padding-top: 10px;
}
.n-alert{
    margin-left: -3px !important;
    font-size: 10px;
}
.content-tabla{
    max-width: 100% !important;
}
.header-tablas{
    font-size: 9px;
    text-transform: uppercase;
    background: #0077C5;
    color: #fff;
}
.body-tablas{
    font-size: 11px;
}
.th-accion{
    width: 95px;
}
.ico-action-table{
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}
.input-tabla{
    font-size: 12px;
    padding: 2px;
    width: 90px;
}
.txt-registros-tabla{
    font-size: 11px;
}
.num-registro{
    font-size: 13px;
}
.ico-pregunta{
    background: blue;
    padding: 5px;
    margin-left: 11px;
    color: #fff;
}
.separador{
    border-bottom: #999999 1px solid;
    padding-bottom: 11px;
    margin-bottom: 11px;

}
.txt-subtotal{
    font-size: 12px;
    text-align: right;
}
.pestanias a{
    font-size: 12px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* paginador datatable*/
.paginate_button.current{
    padding: 2px !important;
    background: none !important;
    width: 28px;
    height: 28px;
    border: 1px solid #0077C5;
}
