<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_4_1 Gestionar Actas de un Recurso de Impugnación</h6>

<div class="text-center mb-5 mt-5">
    <img *ngIf="perfil != p.p2" src="{{ruta}}linea-acta.png" >
    <img *ngIf="perfil == p.p2" src="{{ruta}}linea-acta-p2.png">
</div>
<div class="col-12 float-left mb-5">
    <h3 class="mb-5" *ngIf="action == 'crear'">Ingresar Actas Impugnadas</h3>
    <h3 class="mb-5" *ngIf="action == 'editar'">Modificar Actas Impugnadas</h3>
    <h3 class="mb-5" *ngIf="action == 'ver'">Actas Impugnadas</h3>

    <div class="col float-left border border mb-4 rounded bg-gris">

        <!-- FORMULARIO -->
        <div class="col float-left pt-3">
            <div class="col-6 float-left" >
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Recurso</p>
                            <input *ngIf="action =='crear'" class="col-6 float-left">
                            <input *ngIf="action =='editar'" value="Xxxxxxxxxx" class="col-6 float-left">
                            <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Fecha Ingreso Recurso</p>
                            <input *ngIf="action =='crear'" class="col-6 float-left">
                            <input *ngIf="action =='editar'" value="dd/mm/aaaa" class="col-6 float-left">
                            <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Estado Recurso</p>
                            <input *ngIf="action =='crear'" class="col-6 float-left">
                            <input *ngIf="action =='editar'" value="Xxxxxxxxxx" class="col-6 float-left">
                            <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                    </div>
                    <div class="col float-left">
                            <p class="col-6 float-left text-right">Región</p>
                            <input *ngIf="action =='crear'" class="col-6 float-left ">
                            <input *ngIf="action =='editar'" value="Xxxxxxxxxx" class="col-6 float-left">
                            <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                    </div>
            </div>
            
            <div class="col-6 float-left">
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Tipo Recurso</p>
                        <input *ngIf="action =='crear'" class="col-6 float-left">
                        <input *ngIf="action =='editar'" value="Xxxxxxxxxx" class="col-6 float-left">
                        <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                </div>
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Programa</p>
                        <input *ngIf="action =='crear'" class="col-6 float-left">
                        <input *ngIf="action =='editar'" value="Xxxxxxxxxx" class="col-6 float-left">
                        <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                        
                </div>
                <div class="col float-left">
                        <p class="col-6 float-left text-right">Fecha Estado </p>
                        <input *ngIf="action =='crear'" class="col-6 float-left">
                        <input *ngIf="action =='editar'" value="dd/mm/aaaa" class="col-6 float-left">
                        <p *ngIf="action =='ver'" class="col-6 float-left font-weight-bold ">xxxxxxxxx</p>
                </div>
            </div>
        </div>
        
        <!-- BOTON NUEVA ACTA -->
        <div *ngIf="action =='crear' || action =='editar'" class="col float-left text-center mb-5 mt-5">
            <form #GuardarForm="ngForm" (ngSubmit)="onSubmit(GuardarForm)">
                <label class="mr-2">Nueva Acta</label>
                <input type="text" placeholder="Ingresar Folio de Acta de Seguimiento">
                <button class="btn btn-primary ml-2">Guardar</button>
            </form>
        </div>

        <!-- TABLA  -->
        <div class="tab-pane container active content-tabla" id="home">  
                
                <!-- tabla -->
                <a class="btn btn-light mb-2 border border-dark btn-sm" href="{{ruta}}downloadFile.xlsx"> Excel</a>
                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead class="header-tablas">
                            <tr>
                              <th scope="col">ID Acta</th>
                              <th scope="col">RBO / AC</th>
                              <th scope="col">Cant. Gastos No Aceptados</th>
                              <th scope="col">Fecha Acta</th>
                              <th *ngIf="action == 'crear'" scope="col" class="th-accion">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="body-tablas" *ngIf="status != 'delete' || action == 'ver' || action == 'editar'">
                            <tr *ngFor="let post of posts" >
                              <th scope="row">{{post.id}}</th>
                              <td>{{post.rbd}}</td>
                              <td>{{post.cantidad}}</td>
                              <td>{{post.date}}</td>
                              <td *ngIf="action == 'crear'">
                                <i data-toggle="modal" data-target="#myModal" class="fa fa-trash ico-action-table" title="Eliminar"></i>
                              </td>
                            </tr>
                        </tbody>
                        <div *ngIf="status == 'delete' && action == 'crear'">NO EXISTEN REGISTROS</div>
                </table>

        </div>

    </div>

    <!-- NAVEJACION FLUJO -->

    <div class="col float-left text-right">
        <button [routerLink]="['/definicion-recurso']" class="btn btn-primary float-left" >Anterior</button>
        <button class="btn btn-primary float-right" *ngIf="status != 'success' && perfil == p.p1 && action == 'crear'" disabled>Siguiente</button>
        <button [routerLink]="['/gastos']" class="btn btn-primary float-right" *ngIf="status == 'success' && perfil == p.p1">Siguiente</button>
        <button [routerLink]="['/subir-escrito']" class="btn btn-primary float-right" *ngIf="perfil == p.p2">Siguiente</button>
        <button [routerLink]="['/gastos']" class="btn btn-primary float-right" *ngIf="perfil != p.p1 && perfil != p.p2">Siguiente</button>
        <button [routerLink]="['/gastos']" class="btn btn-primary float-right" *ngIf="action == 'ver' || action == 'editar'">Siguiente</button>
    </div>
</div>



<!-- Modal Eliminar -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Alerta</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">

                       ¿Está seguro que desea eliminar acta de seguimiento 170800186?
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                            <input type="button"  value="Cancelar" class="btn btn-default border border-dark mr-2" data-dismiss="modal">
                            <a class="btn btn-danger text-light  cursor-pointer" data-dismiss="modal">Eliminar</a>
                    </div>

                </div>
        </div>
</div>