<h6 class="small mb-3" style="margin-top:-14px">Ref: MK_1_1_9 REGISTRAR ARGUMENTO DE RECURSO DE 
        IMPUGNACIÓN</h6>

<div class="text-center mb-5 mt-5">
    <img src="{{ruta}}linea-argumento-escrito.png" >
</div>
<div class="col-12 float-left mb-5">
    <h3 *ngIf="action=='crear'" class="mb-5">Agregar Argumento Recurso</h3>
    <h3 *ngIf="action=='editar'" class="mb-5">Modificar Argumento Recurso</h3>
    <h3 *ngIf="action=='ver'" class="mb-5">Argumento Recurso</h3>

    <div class="col float-left border border mb-4 rounded bg-gris">

        <form  #ArgumentoForm="ngForm" (ngSubmit)="onSubmit(ArgumentoForm)">
        <!-- FORMULARIO -->
        <div class="row pt-3">
            <div *ngIf="action=='crear'" class="col" >
                <h6>Máx. 500 caracteres</h6>
                <textarea class="w-100" rows="8" maxlength="500" [(ngModel)]="argumento"  name="argumento">{{argumento}}  </textarea>              
            </div>
            <div *ngIf="action=='editar'" class="col" >
                <h6>Máx. 500 caracteres</h6>
                <textarea class="w-100" rows="8" maxlength="500" [(ngModel)]="argumento"  name="argumento">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </textarea>              
            </div>
            <p *ngIf="action=='ver'" class="col">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
            
        </div>
        
        <!-- BOTON NUEVA ACTA -->
        <div *ngIf="action=='crear' || action=='editar'" class="col float-left text-center mb-5 mt-5">
            <input type="submit" value="Guardar" class="btn btn-primary" >
        </div>
        </form>

    </div>

    <!-- NAVEJACION FLUJO -->

    <div class="col float-left text-right">
        <button [routerLink]="['/antecedentes']" class="btn btn-primary float-left">Anterior</button>
        <button [routerLink]="['/subir-escrito']" class="btn btn-primary float-right">Siguiente</button>
    </div>
</div>